<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Uso DIV per layout a tutta pagina</title>
        <link rel="stylesheet" type="text/css" href="homestyle.css">
    </head>
    <body>
        <header id="header">
            <h2>Header</h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus, dolor ac congue mattis, neque nisl luctus orci, sed imperdiet
            elit arcu et mauris. Maecenas vitae nunc mauris. Phasellus risus augue, cursus eget vestibulum sed, ultricies non justo. Duis aliquet
            dui tincidunt est sagittis fermentum. Praesent nec feugiat tortor. Sed elit erat, tempus ullamcorper pulvinar sed, placerat at augue.
        </header>
        <section id="main">
            <nav id="navbar">
                <h2>Navbar</h2>
                MMMMMMMMMMMMMMM
                <br>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus, dolor ac congue mattis, neque nisl luctus orci, sed
                imperdiet elit arcu et mauris.
            </nav>
            <section id="content">
                <h2>Content</h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus, dolor ac congue mattis, neque nisl luctus orci, sed
                imperdiet elit arcu et mauris. Maecenas vitae nunc mauris. Phasellus risus augue, cursus eget vestibulum sed, ultricies non
                justo. Duis aliquet dui tincidunt est sagittis fermentum. Praesent nec feugiat tortor. Sed elit erat, tempus ullamcorper pulvinar
                sed, placerat at augue. Phasellus facilisis, dolor eget tincidunt suscipit, quam nibh dapibus nisi, sed laoreet justo sapien
                vitae lacus. Duis ullamcorper consequat nibh, at porttitor lacus iaculis eget. Praesent varius ultrices risus at aliquet. Duis
                hendrerit lacus et purus tristique eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Sed in
                purus lorem, quis aliquet sem. Integer felis velit, accumsan et mollis ac, ultricies a nisl. Mauris dignissim pretium lectus,
                congue euismod nunc posuere dapibus. Nullam pellentesque tincidunt urna, nec adipiscing mi congue nec.
                <br>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus, dolor ac congue mattis, neque nisl luctus orci, sed
                imperdiet elit arcu et mauris. Maecenas vitae nunc mauris. Phasellus risus augue, cursus eget vestibulum sed, ultricies non
                justo. Duis aliquet dui tincidunt est sagittis fermentum. Praesent nec feugiat tortor. Sed elit erat, tempus ullamcorper pulvinar
                sed, placerat at augue. Phasellus facilisis, dolor eget tincidunt suscipit, quam nibh dapibus nisi, sed laoreet justo sapien
                vitae lacus. Duis ullamcorper consequat nibh, at porttitor lacus iaculis eget. Praesent varius ultrices risus at aliquet. Duis
                hendrerit lacus et purus tristique eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Sed in
                purus lorem, quis aliquet sem. Integer felis velit, accumsan et mollis ac, ultricies a nisl. Mauris dignissim pretium lectus,
                congue euismod nunc posuere dapibus. Nullam pellentesque tincidunt urna, nec adipiscing mi congue nec.
                <br>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus, dolor ac congue mattis, neque nisl luctus orci, sed
                imperdiet elit arcu et mauris. Maecenas vitae nunc mauris. Phasellus risus augue, cursus eget vestibulum sed, ultricies non
                justo. Duis aliquet dui tincidunt est sagittis fermentum. Praesent nec feugiat tortor. Sed elit erat, tempus ullamcorper pulvinar
                sed, placerat at augue. Phasellus facilisis, dolor eget tincidunt suscipit, quam nibh dapibus nisi, sed laoreet justo sapien
                vitae lacus. Duis ullamcorper consequat nibh, at porttitor lacus iaculis eget. Praesent varius ultrices risus at aliquet. Duis
                hendrerit lacus et purus tristique eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Sed in
                purus lorem, quis aliquet sem. Integer felis velit, accumsan et mollis ac, ultricies a nisl. Mauris dignissim pretium lectus,
                congue euismod nunc posuere dapibus. Nullam pellentesque tincidunt urna, nec adipiscing mi congue nec.
                <br>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus, dolor ac congue mattis, neque nisl luctus orci, sed
                imperdiet elit arcu et mauris. Maecenas vitae nunc mauris. Phasellus risus augue, cursus eget vestibulum sed, ultricies non
                justo. Duis aliquet dui tincidunt est sagittis fermentum. Praesent nec feugiat tortor. Sed elit erat, tempus ullamcorper pulvinar
                sed, placerat at augue. Phasellus facilisis, dolor eget tincidunt suscipit, quam nibh dapibus nisi, sed laoreet justo sapien
                vitae lacus. Duis ullamcorper consequat nibh, at porttitor lacus iaculis eget. Praesent varius ultrices risus at aliquet. Duis
                hendrerit lacus et purus tristique eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Sed in
                purus lorem, quis aliquet sem. Integer felis velit, accumsan et mollis ac, ultricies a nisl. Mauris dignissim pretium lectus,
                congue euismod nunc posuere dapibus. Nullam pellentesque tincidunt urna, nec adipiscing mi congue nec.
            </section>
        </section>
        <footer id="footer">
            <h2>Footer</h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus, dolor ac congue mattis, neque nisl luctus orci, sed
            imperdiet elit arcu et mauris. Maecenas vitae nunc mauris. Phasellus risus augue, cursus eget vestibulum sed, ultricies non
            justo. Duis aliquet dui tincidunt est sagittis fermentum. Praesent nec feugiat tortor. Sed elit erat, tempus ullamcorper
            pulvinar sed, placerat at augue. Phasellus facilisis, dolor eget tincidunt suscipit, quam nibh dapibus nisi, sed laoreet
            justo sapien vitae lacus.
        </footer>
    </body>
</html>